/*
This is a comment
*/

/*Add rule to change the color of the paragraph*/

p{
    color:#E64848;
    /*colorhunt.com*/
}

ol{
    color: aqua;
    filter: drop-shadow(0.7px 0px black);
}

ul{
    color: aqua;
}

img{
    /*range of opacity for a range is 0 - 1*/
    opacity: 0.9;
    width: 300;
    height: 300;
    border-radius: 150px;
    /*float: left; - moves image to the left of the text*/
    /*margin-right: 10px; - sets a margin to the right of the image*/
}
.firstpara {
    font-weight: bolder;
    
}
