/*
This is a comment
*/

/*Add rule to change the color of the paragraph*/

/*colorhunt.com*/


ol{
    color: aqua;
    filter: drop-shadow(0.7px 0px black);
}

ul{
    color: aqua;
}

img{
    /*range of opacity for a range is 0 - 1*/
    opacity: 0.9;
    width: 100px;
    height: 100px;
    border-radius: 150px;
    /*float: left; /*- moves image to the left of the text*/
    margin-right: 25px; /*- sets a margin to the right of the image*/
    margin-bottom: 25px;
}

em {
    color: green; /*changing the empasis to red*/
}

.newimage {
    width: 200px;
    height: 200px;
    object-fit:scale-down; /* changes how the image is placed in the box specified with height and width */
    border: 5px solid black;
    margin: 20px;
}
/* id and class can be combined on a html. eg. <h2 id="house" class="car"</h2> */
/* to use it in css: 
#house.car {
    color: blue;
    font-size: 200%;
}*/
h1 p {  /*Selecting a tag inside of a tag. body being the parent, p being the child */
    color: red;
}
/* to combine two class selector:
.car, .van {
    color: red;
 } */

 /* to select everything on a html:
 * {
    font-family: Arial;
} */
/* css will read the id selector as the most important then the class selector then tags */
h1 {
    color: rgb(255, 0, 0); /* Another way to define color */
}
h1 {
    color: rgba(255, 0, 0, 0.3); /* rgba - the letter a(alpha) represents for how transparent the text is */
}
/* h1 {
    color: hsl(0, 100%, 0) using hue, saturation, light
}*/

.dwnimg {
	margin-right: 10px;
}

.box {
    height: 100px;
    width: 100px;
    padding: 20px;
    margin: 50px;
    border: 10px solid black;
    background-color: rgba(0, 0, 255, 0.3);
	transition: 0.2s;
}

.box:hover {
	/* padding: 40px; */
	margin-top: 40px;
	margin-left: 40px;
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.6);
}

.but1 {
    background-color: rgb(182, 2, 2);
    color: white;
    border: none;
    height: 30px;
    width: 70px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity 0.15s;
}

.but1:hover {
    opacity: 0.7
}

.but1:active{
    opacity: 0.5;
}

.but2 {
    background-color: white;
    color: rgb(41, 118, 211);
    border-color: rgb(41, 118, 211);
    border-style: solid;
    border-width: 1px;
    height: 30px;
    width: 62px;
    border-radius: 2px;
    cursor: pointer;
    margin: 8px;
    transition: background-color 0.5s,
      color 1s;
}

.but2:hover {
    background-color: rgb(41, 118, 211);
    color: white;
}

.but2:active {
    opacity: 0.7;
}

.but3 {
    padding-left: 9px; /* use padding instead of height and width for resizing */
	padding-right: 13px;
	padding-top: 8px;
	padding-bottom: 9px;
    background-color: rgb(2, 158, 255);
    color: white;
    border: none;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin: 2px;
	transition: box-shadow 0.2;
}

.but3:hover{
	box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.4); /* 1st value is hori position. 2nd value is verti position. 3rd value is blur. 4th is color, which we I used rgba to change the opacity */
}

.but3:active {
	border: 0.2px solid white;
}

.firstpara {
        font-family: Arial;
        font-size: 20px;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        width: 500px;
        line-height: 26px;
}

.secondpara {
    font-family: Arial;
    font-size: 14px;
    color: rgb(96, 96, 96);
    font-size: 18px;

}

.thirdpara {
    font-family: Arial;

}

.fourthpara {
    font-family: verdana;
    font-size: 16px;
    color: teal;
}

.fifthpara {
    background-color: rgb(227, 65, 64);
    color: white;
    padding: 15px;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.4);
}

.fifthspan {
    color: yellow;
    margin-left: 10px;
}

.fifthspan:hover {
    text-decoration: underline;
    cursor: pointer;
}

