/*
This is a comment
*/

/*Add rule to change the color of the paragraph*/

p{
    color:#E64848;
    /*colorhunt.com*/
}

ol{
    color: aqua;
    filter: drop-shadow(0.7px 0px black);
}

ul{
    color: aqua;
}

img{
    /*range of opacity for a range is 0 - 1*/
    opacity: 0.9;
    width: 300;
    height: 300;
}

